.b-steps {
  margin: 30px 0 0 0;
  list-style: none;
  display: table;
  width: 100%;
  padding: 0;
}
.b-steps__item {
  display: table-cell;
  text-align: center;
  width: 1%;
}
.b-steps__item:before {
  border-top: 4px solid #CED1D6;
  position: relative;
  display: block;
  content: "";
  width: 100%;
  z-index: 1;
  top: 22px;
}
.b-steps__item_first:before {
  left: 50%;
}
.b-steps__item_last:before {
  width: 50%;
}
.b-steps__item_active:before {
  border-color: #669999;
}
.b-steps__item__round {
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  background-color: #fcfaf2;
  border: 4px solid #ced1d6;
  display: inline-block;
  position: relative;
  margin: 0 0 10px 0;
  line-height: 32px;
  height: 40px;
  color: #aaa;
  width: 40px;
  z-index: 2;
}
.b-steps__item__round:before {
  margin: -7px 0 0 -6px;
  position: absolute;
  top: 50%;
  left: 50%;
}
.b-steps__item_active .b-steps__item__round {
  border-color: #669999;
}
.b-steps__item__link {
  display: block;
}
.b-form__state_green {
  color: #527a7a;
}
.b-form__state_red {
  color: #bc5d58;
}
.b-form__hint {
  font-size: 12px;
  padding: 5px 0;
  color: #aaa;
}
.b-form__editor {
  height: 150px;
}
.b-form__field_payment:before {
  -webkit-border-radius: 3px 0px 0px 3px;
  -moz-border-radius: 3px 0px 0px 3px;
  border-radius: 3px 0px 0px 3px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url(../images/yandex_money.png);
  background-position: 5px center;
  background-repeat: no-repeat;
  background-color: #efefef;
  border: 1px solid #ddd;
  position: absolute;
  display: block;
  height: 100%;
  width: 90px;
  content: "";
  left: 0px;
  top: 0px;
}
.b-form__field__input_payment {
  padding: 16px 0 3px 3px;
  margin: 0 0 0 87px;
  width: 70%;
}
.b-form__field__label_payment {
  padding: 0 100px 0 5px;
  left: 90px;
}
.b-form__field__input_proto {
  background-color: #efefef;
  padding: 16px 0 3px 3px;
  text-align: center;
  box-shadow: none;
  display: block;
  float: left;
  width: 60px;
}
.b-form__field__input_domain {
  padding: 16px 0 3px 3px;
  margin: 0 0 0 -1px;
  width: 70%;
}
.b-form__field__label_domain {
  padding: 0 100px 0 5px;
  left: 60px;
}
/* Таблица последней платежной операций */
.b-last-payment {
  padding: 20px 0 0 0;
}
/* Таблица истории платежных операций */
.b-history {
  width: 100%;
}
.b-pagination {
  text-align: center;
  padding: 10px 0 0 0;
  visibility: hidden;
}
