.b-form__field__list-domains__item {
  border: 1px solid #cbcbcb;
  border-radius: 3px;
  padding: 0 3px;
  margin: 0 0 3px 0;
  width: 70%;
}
.b-form__field__list-domains__item__remove-action {
  cursor: pointer;
  float: right;
}
