.b-solutions__cel {
	width: auto;
	padding: 0;
}

.b-solutions__cel_logo {
	padding: 0 30px 0 0;
}

.b-solutions__image {
	width: 170px;
}

.b-solutions__cel ul {
	margin: 0 0 0 20px;
	padding: 0;
}

.b-solutions__cel ul li {
	padding: 0 0 5px 0;
	color: #e05d6f;
}

.b-solutions__cel ul li span {
	color: #204056;
}