@red-color-active:      #bc5d58;
@green-color-active:    #527a7a;

.b-form {
    &__field__input {
        &_green {
            color: @green-color-active;
        }

        &_red {
            color: @red-color-active;
        }
    }

    &__hint {
        font-size: 12px;
        padding: 5px 0;
        color: #aaa;
    }

    &__editor {
        height: 150px;
    }
}


.b-form__field {

    // Оплата
    &_payment:before {
        -webkit-border-radius: 3px 0px 0px 3px;
        -moz-border-radius: 3px 0px 0px 3px;;
        border-radius: 3px 0px 0px 3px;;

        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;

        background-image: url(../images/yandex_money.png);
        background-position: 5px center;
        background-repeat: no-repeat;
        background-color: #efefef;
        border: 1px solid #ddd;
        position: absolute;
        display: block;
        height: 100%;
        width: 90px;
        content: "";
        left: 0px;
        top: 0px;
    }
    &__input_payment {
        padding: 16px 0 3px 3px;
        margin: 0 0 0 87px;
        width: 70%;
    }
    &__label_payment {
        padding: 0 100px 0 5px;
        left: 90px;
    }

    // Домен
    &__input_proto {
        background-color: #efefef;
        padding: 16px 0 3px 3px;
        text-align: center;
        box-shadow: none;
        display: block;
        float: left;
        width: 60px;
    }
    &__input_domain {
        padding: 16px 0 3px 3px;
        margin: 0 0 0 -1px;
        width: 70%;
    }
    &__label_domain {
        padding: 0 100px 0 5px;
        left: 60px;
    }
}

/* Таблица последней платежной операций */
.b-last-payment {
    padding: 20px 0 0 0;
}

/* Таблица истории платежных операций */
.b-history {
    width: 100%;
}

.b-pagination{
    text-align: center;
    padding: 10px 0 0 0;
    visibility: hidden;
}
    